@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  font-family: "Roboto", sans-serif;
}
body{
  height: 100vh;
}


nav{
  display: flex;
  justify-content: flex-start;
  background-color: #FFF;
  border-bottom: #3c3c3c 3px solid;
  margin-bottom: 0.5em;
}
nav a{
  cursor: pointer;
  padding: 1em;
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: none;
  color: #3c3c3c;
}
nav a:hover, a:active, a:focus{
  background-color: #3c3c3c;
  color: #fff;
}

.main{
  display: flex;
  flex-direction: column;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.home a{
  font-family: "Agdasima", sans-serif;
  text-decoration: none;
  color: #800000;
  font-weight: 600;
  text-decoration: underline;
}

.select-box{
  display: flex;
  justify-content: center;
}

.select-box select{
  width: 10em;
  text-align: right;
}

.select-box option{
  text-align: left;
}

.select-box button{
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.wanteds{
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.wanted-person a{
  display: inline-block;
  text-decoration: none;
  color: #3c3c3c;
  margin-bottom: 1em;
}

.wanted-person img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.wanted-details img{
height: 250px;
width: 250px;
}

.wanted-person-images{
  display: flex;
}